@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #020024;
    background: linear-gradient(90deg, rgb(33, 24, 196) 0%, rgb(17, 17, 226) 35%, rgba(0,212,255,1) 100%);
    color: azure;
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
}
h1{
    font-size: 34px;
    font-weight: 600;
    margin: 5px;
}
.card-style{
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #131212;
    border-radius: 5px;
    box-shadow: 3px 5px 4px black;

}

select, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

button {
    background: linear-gradient(90deg, rgb(33, 24, 196) 0%, rgb(17, 17, 226) 35%, rgba(0,212,255,1) 100%);
    color: azure;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

button:hover{
    background: linear-gradient(90deg, rgb(156, 28, 173) 0%, rgb(228, 28, 198) 35%, rgb(255, 0, 251) 100%);
}

#temperatura{
    width: 100%;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
}

#resultado{
    width: 100%;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
}

